$body-font-family: 'Tajawal', sans-serif;

$input-max-height: 30px;

$input-font-size: 14px;

$text-field-filled-full-width-outlined-slot-min-height: 36px;

$text-field-filled-full-width-outlined-single-line-slot-min-height: 36px;

$select-chips-dense-selections-min-height: 36px;

$select-small-chips-dense-selections-min-height: 36px;